/cmake-build-debug/
/cmake-build-release/
/cmake-build-minsizerel/
/cmake-build-relwithdebinfo/
Gillespie_all.tar.gz
/venv/
*.pyc
/.vscode/
/build
0.*.*
*.components
*.reactions
*.log
data
CPP/build
**.prof
**.pdf
